<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h4 id="logo"><a href="{{ site.baseurl }}/">ССП ЖилКомРесурс</a></h4>
            <p>пожарная сигнализация,        охранная сигнализация,        диспетчеризация,
            видеонаблюдение,        оповещение,        управление доступом,       умные дома</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">О компании</a></li>
                <li><a href="{{ site.baseurl }}/licence">Лицензии</a></li> 
                <li><a href="{{ site.baseurl }}/gratitude">Благодарности</a></li>                
                <li><a href="{{ site.baseurl }}/contact">Контакты</a></li>

            </ul>
        </nav>
        <footer>
            
        </footer>
    </section>

